@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To ADLEY STORE</h1>
    <p>Here you can buy all products of your need</p>
</div>

