@page
@model adley_store.Pages.Cart.ListModel
@{
}

<div class="page p-5 gradient_bg_3">
    @if (TempData.ContainsKey("ErrorMessage"))
    {
        <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
    }
    <div>
        <h2 class="large_headings text-center gradient_heading gradient_bg_4">Cart Items</h2>
    </div>
    <div class="container p-5" style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
        @foreach (var item in Model.Products)
        {
            <div class="m-2 gradient_bg_1 product_detail_card">
                <img class="" src=@item?.BannerUrl width="70" />
                <div class="card_body p-3">
                    <h3 class="card-title font-weight-bold" style="color: white">@item?.Name</h3>
                    <p class="card-text" style="color: black">@item?.Description</p>
                    <h5 class="card-text font-weight-bold">RS <span style="color:green; font-weight:700;">@item?.Price</span></h5>
                    <p class="card-text">Stock: <span class="text-primary">@item?.Quantity</span></p>
                    <p class="" style="color: yellow">4.9 / 5 rating</p>
                    <div class="btn_section">
                        <a href="/Cart/Remove?id=@item?.Id" class="btn btn-warning" style="width: 150px; color: white;">Remove From Cart</a>
                    </div>
                </div>
            </div>
        }

    </div>
</div>