@page
@model adley_store.Pages.Products.UpdateModel
@{
}

@if (Model.SingleProduct == null)
{
        <div class="page p-5">
            <h4 class="text-danger">Product with this id not found</h4>
        </div>
}
else
{
    <div class="page p-5">
        <div>
            <h2>Update Product</h2>
        </div>
        <form class="mt-5 mb-5 border border-primary p-5" method="post">
            @if (TempData.ContainsKey("ErrorMessage"))
            {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
            }
            <div class="form-group mt-3">
                <label for="productId">Product Id</label>
                <input type="number" class="form-control mt-2" id="productId" aria-describedby="emailHelp" placeholder="Enter Product ID" asp-for="AddProductRequest.Id" required value=@Model.SingleProduct.Id readonly>
            </div>
            <div class="form-group mt-3">
                <label for="productName">Product Name</label>
                <input type="text" class="form-control mt-2" id="productName" placeholder="Enter Product Name" asp-for="AddProductRequest.Name" required value=@Model.SingleProduct.Name>
            </div>
            <div class="form-group mt-3">
                <label for="productDescription">Product Description</label>
                <textarea type="text" class="form-control mt-2" id="productDescription" placeholder="Enter Product Description" asp-for="AddProductRequest.Description" required value=@Model.SingleProduct.Description></textarea>
            </div>
            <div class="form-group mt-3">
                <label for="producPrice">Product Price</label>
                <input type="number" class="form-control mt-2" id="productPrice" placeholder="Enter Product Price" asp-for="AddProductRequest.Price" required value=@Model.SingleProduct.Price>
            </div>
            <div class="form-group mt-3">
                <label for="productQty">Product Quantity</label>
                <input type="number" class="form-control mt-2" id="productQty" placeholder="Enter Product Quantity" asp-for="AddProductRequest.Quantity" required value=@Model.SingleProduct.Quantity>
            </div>
            <div class="form-group mt-3">
                <label for="productUrl">Product Image Url</label>
                <input type="text" class="form-control mt-2" id="productUrl" placeholder="Enter Product Banner Url" asp-for="AddProductRequest.BannerUrl" required value=@Model.SingleProduct.BannerUrl>
            </div>
            <button type="submit" class="btn btn-primary mt-4 mb-2">Submit</button>
        </form>
    </div>
}

